{% extends 'groups/group_base.html' %}

{% block pregroup %}
    <ul>
        <li>
            <h1>{{ group.name }}</h1>
        </li>
        <li>
            <h5>Member Count: {{ group.members.count }}</h5>
        </li>
        <li>
            <div class="content">
                {% if  user in group.members.all %}
                    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-warning">Leave Group</a>
                {% else %}
                    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-primary">Join Group</a>
                {% endif %}
            </div>
        </li>
    </ul>
{% endblock %}

{% block groupcontent %}


    {% if group.posts.count == 0 %}
        <h2>No posts in this group yet</h2>
    {% else %}
        <div class="row">
            {% for post in group.posts.all %}
                <div class="col-12">
                    {% include 'posts/_post.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}